<%- include('partials/cabecalho') -%>

<h1>Página Inicial</h1>
<p><%= conteudo %></p>

<% for(var i = 0; i < postagem.length; i++) { %>
<h2>Post <%= i + 1 %></h2>
<p><%= postagem[i] %></p>
<% } %> <%- include('partials/rodape') -%>
